.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, .3);
  visibility: hidden;
  opacity: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  &:not(.modal--fullscreen) {
    -webkit-overflow-scrolling: touch;
  }

  &[data-background-scroll="true"] {
    overflow-y: auto;
  }
}

.modal--active {
  visibility: visible;
  opacity: 1;
  z-index: 101;
}

.modal--fullscreen {
  background: $white;

  .modal__dialog {
    margin: 0;
    max-width: none;
    height: 100vh;
    display: flex;

    div[role="document"] {
      margin: auto;
    }
  }

  .modal__close {
    position: fixed;
    margin: 0;
    top: $gutter;
    right: $gutter;
  }
}

.modal--before-show {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.modal--fade {
  &.modal--before-show {
    visibility: visible;
    opacity: 1;
    transition: opacity .5s ease-out;
  }

  &.modal--before-hide {
    visibility: visible;
    opacity: 0;
    transition: opacity .2s ease-out;
  }
}

.modal__va-wrap {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.modal__va-m {
  display: table-cell;
  vertical-align: middle;
}

.modal__dialog {
  background-color: $white;
  max-width: 100%;
  margin: $gutter/2;
  position: relative;
  outline: 0;

  @media #{$medium} {
    max-width: 900px;
    margin: $gutter * 2 auto;
  }

  div[role="document"] {
    padding: $gutter;

    @media #{$medium} {
      padding: $gutter * 2;
    }

    @media #{$larger} {
      padding: $gutter * 3;
    }
  }
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  margin: $gutter/2;
  padding: $gutter/2;
}

.js-modal-trigger * {
  pointer-events: none;
}
