
/*============================================================================
  RESET

  Adapted version of:
  - Eric Meyer reset
  - Boilerplate Normalize.css
  - Normalize opentype
==============================================================================*/

html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
address, cite, code, del, dfn, em, img, q, s, samp, small, strike,
sub, sup, var, dd, dl, dt, li, ol, ul, fieldset,
form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}

article, aside, details, figcaption, figure, footer,
header, nav, time, section, main {
  display: block;
}

*, *:before, *:after {
  box-sizing: border-box;
}

// Display in IE9
audio, canvas, video {
  display: inline-block;
}

// Prevents modern browsers from displaying 'audio' without controls
audio:not([controls]) {
  display: none;
}


// Type
q, blockquote {
  &:before, &:after {
    content: "";
  }
}

// Prevents sub and sup affecting line-height in all browsers
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

// Turn on proper supercript numerals
sup {
  top: -0.5em;
}

// Turn on proper subscript numerals
sub {
  bottom: -0.25em;
}

figure {
  margin: 0;
}

svg:not(:root) {
  overflow: hidden;
}

// Turn on small caps for upper and lowercase letters
abbr {
  text-transform: uppercase;
}
