// Exceptions: only add what you need!
// .mb0.mb0 {
//   margin-bottom: 0;
// }
// .mb20.mb20 {
//   margin-bottom: 20px;
// }
// .mb40.mb40 {
//   margin-bottom: 40px;
// }

// .mt0.mt0 {
//   margin-top: 0;
// }
// .mt20.mt20 {
//   margin-top: 20px;
// }
// .mt40.mt40 {
//   margin-top: 40px;
// }

// Equal height
.equal-h {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;

  > * {
    display: flex;
  }

  &:before,
  &:after {
    display: none;
  }
}

// Block link
.block-link {
  position: relative;
  cursor: pointer;
}

.block-link__target {
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

// Google maps mw
.gm-style img {
  max-width: inherit;
}

.large {
  font-size: rem(20px);
}
