
/*============================================================================
  VARIABLES
==============================================================================*/

// Grays
$black: #000;
$grayDark: #777;
$gray: #B4B4B4;
$grayMiddle: #D2CECB;
$grayLight: #F4F4F4;
$white: #fff;

// Accent colors
$accent: #1730a5;
$accentHover: darken($accent, 10%);
$accentActive: darken($accent, 15%);

$accentLight: lighten($accent, 15%);

// Links
$linkColor: $accent;
$linkColorHover: $accentHover;
$linkColorActive: $accentActive;

// States
$error: #f1062c;
$errorBg: lighten($error, 50%);

$success: #39963a;
$successBg: lighten($success, 55%);

// Selection
$selection: lighten($accent, 40%);


// Easing
$easeLinear: cubic-bezier(0,0,1,1);
$easeIn: cubic-bezier(0.42, 0.0, 1.0, 1.0);
$easeOut: cubic-bezier(0.0, 0.0, 0.58, 1.0);
$easeInOut: cubic-bezier(0.42, 0.0, 0.58, 1.0);

// Transitions
$transitionDefault: 0.25s $easeOut;


// Sizes
$docFontSize: 10;
$radius: 0;


// Fonts
$defaultFont: 'Montserrat', Helvetica, Arial, Verdana, sans-serif;
$defaultFontWeight: 400;

$displayFont: 'Poppins', Museo Sans, Helvetica, Arial, Verdana, sans-serif;
$displayFontWeight: 500;


// Grid
$gutter: 30px !default;

// Grid widths
$whole: true !default;
$halves: true !default;
$thirds: true !default;
$quarters: true !default;
$fifths: true !default;
$sixths: false !default;
$eighths: false !default;
$tenths: false !default;
$twelfths: false !default;
$thirds: false !default;

// Would you like push and pull classes enabled?
$push: false !default;
$pull: false !default;


// Mediaqueries
// If you want more breakpoints, add a nummeric suffix (e.g huge-2)
$smallSize: 480px;
$mediumSize: 768px;
$largeSize: 1024px;
$largerSize: 1200px;
$hugeSize: 1400px;
$massiveSize: 1680px;

$small: "(min-width: #{$smallSize})";
$medium: "(min-width: #{$mediumSize})";
$large: "(min-width: #{$largeSize})";
$larger: "(min-width: #{$largerSize})";
$huge: "(min-width: #{$hugeSize})";
$massive: "(min-width: #{$massiveSize})";

// Mobile mediaqueries
$maxMedium: "(max-width: 766px)";


// Define your breakpoints. The first value is the prefix that shall be used for
// your classes (e.g. `.medium--one-half`), the second value is the media query
// that the breakpoint fires at.
$breakpoints: (
  'small' '#{$small}',
  'medium' '#{$medium}',
  'large' '#{$large}',
  'larger' '#{$larger}',
  'huge' '#{$huge}',
  'massive' '#{$massive}'
) !default;

// Define which namespaced breakpoints you would like to generate for each of
// widths, push and pull. This is handy if you only need pull on, say, large, or
// you only need a new width breakpoint at mobile sizes. It allows you to only
// compile as much CSS as you need.
$breakpoint-has-widths: ('medium', 'large') !default;
$breakpoint-has-push:   ('medium') !default;
$breakpoint-has-pull:   ('medium') !default;
