 <header class="page-header">

    <div class="container static">
      <a href="modal-navigation.html" class="logo">
        <img src="assets/images/logo.png" alt="Template" width="150" height="80" />
      </a>
      <nav class="main-nav" role="navigation">
        <a href="" class="trigger main-modal-trigger">
          <i class="icon-hamburger" aria-hidden="true"></i><span>Menu</span></a>
        <!--     attribuut data-view-slide" kan true/false zijn; bij true is de slide animation visible -->
        <div id="main-modal" data-view-slide="true" class=" md-modal md-cover ">
          <!-- data-animation-type mogelijkheden: fade, from-top of from-left -->
          <div data-animation-type="from-left" class="md-content "  >
            <a href="modal-navigation.html" class="logo">
              <img src="assets/images/logo.png" alt="Template" width="150" height="80"/>
            </a>
            <ul class="nav-wrap">
              <li class="active"><a href="modal-navigation.html">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="news.html">News</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
          <button type="button" class="md-close md-close-trigger" aria-label="close">
            X </button>

        </div>
      </nav>
    </div>

  </header>

 <!-- Plaats "mobile" in de body class om het flickeren vh menu te vermijden bij het inladen vd pagina -->
