// Mixins
// For the library to use only, you should not need to modify them at all.
@mixin grid-media-query($media-query) {
  $breakpoint-found: false;

  @each $breakpoint in $breakpoints {
    $name: nth($breakpoint, 1);
    $declaration: nth($breakpoint, 2);

    @if $media-query == $name and $declaration {
      $breakpoint-found: true;

      @media #{$declaration} {
        @content;
      }
    }
  }

  @if $breakpoint-found == false {
    @warn "Breakpoint '#{$media-query}' does not exist";
  }
}

// Grid setup
.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 -#{$gutter} -#{$gutter};
}

ul.grid,
ul.grid-uniform {
  list-style: none;
  padding: 0;
}

.grid__item {
  padding-left: $gutter;
  width: 100%;
  margin-bottom: $gutter;
}

// Grid reversed
.grid--rev {
  flex-direction: row-reverse;
}

.grid--justify-start {
  justify-content: flex-start;
}

.grid--justify-center {
  justify-content: center;
}

.grid--justify-end {
  justify-content: flex-end;
}

.grid--justify-between {
  justify-content: space-between;
}

.grid--justify-around {
  justify-content: space-around;
}

.grid--align-start {
  align-items: flex-start;
}

.grid--align-center {
  align-items: center;
}

.grid--align-end {
  align-items: flex-end;
}

// Grid gutter
.grid--gutter-0 {
  margin-left: 0;
  margin-bottom: 0;

  > .grid__item {
    padding-left: 0;
    margin-bottom: 0;
  }
}

.grid--gutter-half {
  margin-left: -$gutter/2;
  margin-bottom: -$gutter/2;

  > .grid__item {
    padding-left: $gutter/2;
    margin-bottom: $gutter/2;
  }
}

.grid--gutter-2 {
  margin-left: -$gutter * 2;
  margin-bottom: -$gutter * 2;

  > .grid__item {
    padding-left: $gutter * 2;
    margin-bottom: $gutter * 2;
  }
}

// Widths
@mixin device-type($namespace: "") {
  // Whole
  @if $whole == true {
    .#{$namespace}one-whole {
      width: 100%;
    }
  }

  // Halves
  @if $halves == true {
    .#{$namespace}one-half {
      width: 50%;
    }
  }

  // Thirds
  @if $thirds == true {
    .#{$namespace}one-third {
      width: 33.333%;
    }
    .#{$namespace}two-thirds {
      width: 66.666%;
    }
  }

  // Quarters
  @if $quarters == true {
    .#{$namespace}one-quarter {
      width: 25%;
    }
    .#{$namespace}two-quarters {
      width: 50%;
    }
    .#{$namespace}three-quarters {
      width: 75%;
    }
  }

  // Fifths
  @if $fifths == true {
    .#{$namespace}one-fifth {
      width: 20%;
    }
    .#{$namespace}two-fifths {
      width: 40%;
    }
    .#{$namespace}three-fifths {
      width: 60%;
    }
    .#{$namespace}four-fifths {
      width: 80%;
    }
  }

  // Sixths
  @if $sixths == true {
    .#{$namespace}one-sixth {
      width: 16.666%;
    }
    .#{$namespace}two-sixths {
      width: 33.333%;
    }
    .#{$namespace}three-sixths {
      width: 50%;
    }
    .#{$namespace}four-sixths {
      width: 66.666%;
    }
    .#{$namespace}five-sixths {
      width: 83.333%;
    }
  }

  // Eighths
  @if $eighths == true {
    .#{$namespace}one-eighth {
      width: 12.5%;
    }
    .#{$namespace}two-eighths {
      width: 25%;
    }
    .#{$namespace}three-eighths {
      width: 37.5%;
    }
    .#{$namespace}four-eighths {
      width: 50%;
    }
    .#{$namespace}five-eighths {
      width: 62.5%;
    }
    .#{$namespace}six-eighths {
      width: 75%;
    }
    .#{$namespace}seven-eighths {
      width: 87.5%;
    }
  }

  // Tenths
  @if $tenths == true {
    .#{$namespace}one-tenth {
      width: 10%;
    }
    .#{$namespace}two-tenths {
      width: 20%;
    }
    .#{$namespace}three-tenths {
      width: 30%;
    }
    .#{$namespace}four-tenths {
      width: 40%;
    }
    .#{$namespace}five-tenths {
      width: 50%;
    }
    .#{$namespace}six-tenths {
      width: 60%;
    }
    .#{$namespace}seven-tenths {
      width: 70%;
    }
    .#{$namespace}eight-tenths {
      width: 80%;
    }
    .#{$namespace}nine-tenths {
      width: 90%;
    }
  }

  // Twelfths
  @if $twelfths == true {
    .#{$namespace}one-twelfth {
      width: 8.333%;
    }
    .#{$namespace}two-twelfths {
      width: 16.666%;
    }
    .#{$namespace}three-twelfths {
      width: 25%;
    }
    .#{$namespace}four-twelfths {
      width: 33.333%;
    }
    .#{$namespace}five-twelfths {
      width: 41.666%;
    }
    .#{$namespace}six-twelfths {
      width: 50%;
    }
    .#{$namespace}seven-twelfths {
      width: 58.333%;
    }
    .#{$namespace}eight-twelfths {
      width: 66.666%;
    }
    .#{$namespace}nine-twelfths {
      width: 75%;
    }
    .#{$namespace}ten-twelfths {
      width: 83.333%;
    }
    .#{$namespace}eleven-twelfths {
      width: 91.666%;
    }
  }
}

// Device helper
@mixin device-helper($namespace: "") {
  .#{$namespace}show {
    display: block !important;
  }
  .#{$namespace}hide {
    display: none !important;
  }

  .#{$namespace}text-left {
    text-align: left !important;
  }
  .#{$namespace}text-right {
    text-align: right !important;
  }
  .#{$namespace}text-center {
    text-align: center !important;
  }
}

// Regular, non-responsive width classes
@include device-type();
@include device-helper();

// Responsive classes
@each $name in $breakpoint-has-widths {
  @include grid-media-query($name) {
    @include device-type("#{$name}--");
    @include device-helper("#{$name}--");
  }
}

// Push
@mixin push-setup($namespace: "") {
  // Whole
  @if $whole == true {
    .push--#{$namespace}one-whole {
      margin-left: 100%;
    }
  }

  // Halves
  @if $halves == true {
    .push--#{$namespace}one-half {
      margin-left: 50%;
    }
  }

  // Thirds
  @if $thirds == true {
    .push--#{$namespace}one-third {
      margin-left: 33.333%;
    }
    .push--#{$namespace}two-thirds {
      margin-left: 66.666%;
    }
  }

  // Quarters
  @if $quarters == true {
    .push--#{$namespace}one-quarter {
      margin-left: 25%;
    }
    .push--#{$namespace}two-quarters {
      margin-left: 50%;
    }
    .push--#{$namespace}three-quarters {
      margin-left: 75%;
    }
  }

  // Fifths
  @if $fifths == true {
    .push--#{$namespace}one-fifth {
      margin-left: 20%;
    }
    .push--#{$namespace}two-fifths {
      margin-left: 40%;
    }
    .push--#{$namespace}three-fifths {
      margin-left: 60%;
    }
    .push--#{$namespace}four-fifths {
      margin-left: 80%;
    }
  }

  // Sixths
  @if $sixths == true {
    .push--#{$namespace}one-sixth {
      margin-left: 16.666%;
    }
    .push--#{$namespace}two-sixths {
      margin-left: 33.333%;
    }
    .push--#{$namespace}three-sixths {
      margin-left: 50%;
    }
    .push--#{$namespace}four-sixths {
      margin-left: 66.666%;
    }
    .push--#{$namespace}five-sixths {
      margin-left: 83.333%;
    }
  }

  // Eighths
  @if $eighths == true {
    .push--#{$namespace}one-eighth {
      margin-left: 12.5%;
    }
    .push--#{$namespace}two-eighths {
      margin-left: 25%;
    }
    .push--#{$namespace}three-eighths {
      margin-left: 37.5%;
    }
    .push--#{$namespace}four-eighths {
      margin-left: 50%;
    }
    .push--#{$namespace}five-eighths {
      margin-left: 62.5%;
    }
    .push--#{$namespace}six-eighths {
      margin-left: 75%;
    }
    .push--#{$namespace}seven-eighths {
      margin-left: 87.5%;
    }
  }

  // Tenths
  @if $tenths == true {
    .push--#{$namespace}one-tenth {
      margin-left: 10%;
    }
    .push--#{$namespace}two-tenths {
      margin-left: 20%;
    }
    .push--#{$namespace}three-tenths {
      margin-left: 30%;
    }
    .push--#{$namespace}four-tenths {
      margin-left: 40%;
    }
    .push--#{$namespace}five-tenths {
      margin-left: 50%;
    }
    .push--#{$namespace}six-tenths {
      margin-left: 60%;
    }
    .push--#{$namespace}seven-tenths {
      margin-left: 70%;
    }
    .push--#{$namespace}eight-tenths {
      margin-left: 80%;
    }
    .push--#{$namespace}nine-tenths {
      margin-left: 90%;
    }
  }

  // Twelfths
  @if $twelfths == true {
    .push--#{$namespace}one-twelfth {
      margin-left: 8.333%;
    }
    .push--#{$namespace}two-twelfths {
      margin-left: 16.666%;
    }
    .push--#{$namespace}three-twelfths {
      margin-left: 25%;
    }
    .push--#{$namespace}four-twelfths {
      margin-left: 33.333%;
    }
    .push--#{$namespace}five-twelfths {
      margin-left: 41.666%;
    }
    .push--#{$namespace}six-twelfths {
      margin-left: 50%;
    }
    .push--#{$namespace}seven-twelfths {
      margin-left: 58.333%;
    }
    .push--#{$namespace}eight-twelfths {
      margin-left: 66.666%;
    }
    .push--#{$namespace}nine-twelfths {
      margin-left: 75%;
    }
    .push--#{$namespace}ten-twelfths {
      margin-left: 83.333%;
    }
    .push--#{$namespace}eleven-twelfths {
      margin-left: 91.666%;
    }
  }
}

@if $push == true {
  [class*="push--"] {
    position: relative;
  }

  @include push-setup();

  @each $name in $breakpoint-has-push {
    @include grid-media-query($name) {
      @include push-setup("#{$name}--");
    }
  }
}

// Pull
@mixin pull-setup($namespace: "") {
  // Whole
  @if $whole == true {
    .pull--#{$namespace}one-whole {
      margin-right: 100%;
    }
  }

  // Halves
  @if $halves == true {
    .pull--#{$namespace}one-half {
      margin-right: 50%;
    }
  }

  // Thirds
  @if $thirds == true {
    .pull--#{$namespace}one-third {
      margin-right: 33.333%;
    }
    .pull--#{$namespace}two-thirds {
      margin-right: 66.666%;
    }
  }

  // Quarters
  @if $quarters == true {
    .pull--#{$namespace}one-quarter {
      margin-right: 25%;
    }
    .pull--#{$namespace}two-quarters {
      margin-right: 50%;
    }
    .pull--#{$namespace}three-quarters {
      margin-right: 75%;
    }
  }

  // Fifths
  @if $fifths == true {
    .pull--#{$namespace}one-fifth {
      margin-right: 20%;
    }
    .pull--#{$namespace}two-fifths {
      margin-right: 40%;
    }
    .pull--#{$namespace}three-fifths {
      margin-right: 60%;
    }
    .pull--#{$namespace}four-fifths {
      margin-right: 80%;
    }
  }

  // Sixths
  @if $sixths == true {
    .pull--#{$namespace}one-sixth {
      margin-right: 16.666%;
    }
    .pull--#{$namespace}two-sixths {
      margin-right: 33.333%;
    }
    .pull--#{$namespace}three-sixths {
      margin-right: 50%;
    }
    .pull--#{$namespace}four-sixths {
      margin-right: 66.666%;
    }
    .pull--#{$namespace}five-sixths {
      margin-right: 83.333%;
    }
  }

  // Eighths
  @if $eighths == true {
    .pull--#{$namespace}one-eighth {
      margin-right: 12.5%;
    }
    .pull--#{$namespace}two-eighths {
      margin-right: 25%;
    }
    .pull--#{$namespace}three-eighths {
      margin-right: 37.5%;
    }
    .pull--#{$namespace}four-eighths {
      margin-right: 50%;
    }
    .pull--#{$namespace}five-eighths {
      margin-right: 62.5%;
    }
    .pull--#{$namespace}six-eighths {
      margin-right: 75%;
    }
    .pull--#{$namespace}seven-eighths {
      margin-right: 87.5%;
    }
  }

  // Tenths
  @if $tenths == true {
    .pull--#{$namespace}one-tenth {
      margin-right: 10%;
    }
    .pull--#{$namespace}two-tenths {
      margin-right: 20%;
    }
    .pull--#{$namespace}three-tenths {
      margin-right: 30%;
    }
    .pull--#{$namespace}four-tenths {
      margin-right: 40%;
    }
    .pull--#{$namespace}five-tenths {
      margin-right: 50%;
    }
    .pull--#{$namespace}six-tenths {
      margin-right: 60%;
    }
    .pull--#{$namespace}seven-tenths {
      margin-right: 70%;
    }
    .pull--#{$namespace}eight-tenths {
      margin-right: 80%;
    }
    .pull--#{$namespace}nine-tenths {
      margin-right: 90%;
    }
  }

  // Twelfths
  @if $twelfths == true {
    .pull--#{$namespace}one-twelfth {
      margin-right: 8.333%;
    }
    .pull--#{$namespace}two-twelfths {
      margin-right: 16.666%;
    }
    .pull--#{$namespace}three-twelfths {
      margin-right: 25%;
    }
    .pull--#{$namespace}four-twelfths {
      margin-right: 33.333%;
    }
    .pull--#{$namespace}five-twelfths {
      margin-right: 41.666%;
    }
    .pull--#{$namespace}six-twelfths {
      margin-right: 50%;
    }
    .pull--#{$namespace}seven-twelfths {
      margin-right: 58.333%;
    }
    .pull--#{$namespace}eight-twelfths {
      margin-right: 66.666%;
    }
    .pull--#{$namespace}nine-twelfths {
      margin-right: 75%;
    }
    .pull--#{$namespace}ten-twelfths {
      margin-right: 83.333%;
    }
    .pull--#{$namespace}eleven-twelfths {
      margin-right: 91.666%;
    }
  }
}

@if $pull == true {
  [class*="pull--"] {
    position: relative;
  }

  @include pull-setup();

  @each $name in $breakpoint-has-pull {
    @include grid-media-query($name) {
      @include pull-setup("#{$name}--");
    }
  }
}

// Grid reverse
@mixin reverse-setup($namespace: "") {
  .#{$namespace}row-reverse {
    flex-direction: row-reverse;
  }
  .#{$namespace}column-reverse {
    flex-direction: column-reverse;
  }
}

@if $reverse == true {
  @include reverse-setup();

  @each $name in $breakpoint-has-reverse {
    @include grid-media-query($name) {
      @include reverse-setup("#{$name}--");
    }
  }
}
