.page-header {
  @include clearfix;
  position: sticky;
  width: 100%;
  left: 0;
  z-index: layer("header");
  padding: $gutter 0;
}

.page-header--sticky {
  position: sticky;
  top: 0;
}

.page-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__logo {
  text-decoration: none;
  margin-right: $gutter;
  flex-shrink: 0;
  width: 100px;

  @media #{$nav} {
    width: auto;
  }
}

.main-nav-trigger {
  display: block;
  position: absolute;
  top: 50%;
  right: $gutter;
  transform: translateY(-50%);
  transition: none;
  background: transparent;
  outline: 0;
  z-index: layer("header");

  svg {
    transition: $transitionDefault;
    transition-property: fill;
    fill: $accent;
  }

  &:hover,
  &:focus {
    cursor: pointer;

    svg {
      fill: $accentHover;
    }
  }

  &:active {
    svg {
      fill: $accentActive;
    }
  }

  @media #{$nav} {
    display: none;
  }
}

.main-nav {
  @include display-font;
  @include optimize-font;
  display: none;

  @media #{$nav} {
    display: block;
  }
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -$gutter/2;

  li {
    margin: 0 0 $gutter/2 $gutter * 1.5;
  }
}

.main-nav__link {
  color: $black;
  text-decoration: none;

  &:hover,
  &:focus,
  .active & {
    color: $accent;
  }
}

.mobile-nav__content {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - #{4 * $gutter}); // based on padding on modal div[role="document"]
}

.mobile-nav__main {
  @include display-font;
  text-align: center;
  font-size: 1.5em;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile-nav__list {
  margin: 0;

  li {
    margin-bottom: 0.5em;
  }
}

.mobile-nav__link {
  color: $black;
  text-decoration: none;

  &:hover,
  &:focus,
  .active & {
    color: $accentHover;
  }

  &:active {
    color: $accentActive;
  }
}

.mobile-nav__footer {
  margin-top: $gutter;
  text-align: center;
}

.skip-link {
  &:focus {
    top: 0;
    left: 0;
    z-index: 999;
    background-color: $white;
    padding: 0.5em 1em;
    font-size: rem(20px);
  }
}
