.page-header {
  @include clearfix;
  padding: $gutter 0;
}

.page-header--fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: layer('header');
  border: 1px solid $black;
  transition: $transitionDefault;
}

.page-header--collapsed {
  padding: 10px 0;
}

.page-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__logo {
  text-decoration: none;
  margin-right: $gutter;
  flex-shrink: 0;

  @media #{$maxMedium} {
    width: 100px;
  }
}

.main-nav-trigger {
  display: block;
  position: fixed;
  top: 50px;
  right: $gutter;
  transform: translateY(-50%);
  transition: none;
  background: transparent;
  outline: 0;
  z-index: layer('header');

  svg {
    transition: $transitionDefault;
    transition-property: fill;
    fill: $accent;
  }

  &:hover,
  &:focus {
    cursor: pointer;

    svg {
      fill: $accentHover;
    }
  }

  &:active {
    svg {
      fill: $accentActive;
    }
  }

  @media #{$medium} {
    display: none;
  }
}

.main-nav {
  @include display-font;
  @include optimize-font;

  @media #{$maxMedium} {
    display: none;
  }
}

.main-nav__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -$gutter/2;

  li {
    margin: 0 0 $gutter/2 $gutter * 1.5;
  }
}

.main-nav__link {
  color: $black;
  text-decoration: none;

  &:hover,
  &:focus,
  .active & {
    color: $accent;
  }
}

.mobile-nav__content {
  display: flex;
  flex-direction: column;
  min-height: calc(
    100vh - #{4 * $gutter}
  ); // based on padding on modal div[role="document"]
}

.mobile-nav__main {
  @include display-font;
  text-align: center;
  font-size: 1.5em;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile-nav__list {
  list-style: none;
  margin: 0;

  li {
    margin-bottom: 0.5em;
  }
}

.mobile-nav__link {
  color: $black;
  text-decoration: none;

  &:hover,
  &:focus,
  .active & {
    color: $accentHover;
  }

  &:active {
    color: $accentActive;
  }
}

.mobile-nav__socials {
  margin-top: $gutter;

  ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
      margin-right: $gutter;

      a {
        svg {
          transition: $transitionDefault;
          transition-property: fill;
        }

        &:hover,
        &:focus {
          svg {
            fill: $accentHover;
          }
        }

        &:active {
          svg {
            fill: $accentActive;
          }
        }
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.skip-link {
  left: -999px;
  position: absolute;
  top: auto;
  overflow: hidden;
  z-index: -999;
  white-space: nowrap;

  &:focus {
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;
    padding: 0.5em 1em;
    @include fs(20);
  }
}
