.button {
  appearance: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: $transitionDefault;
  outline: 0;
  line-height: 1.2em;
  padding: 12px 20px;
  margin: 0;
  background-color: $accent;
  text-decoration: none;
  color: $white;
  text-transform: uppercase;
  border: 1px solid $accent;
  hyphens: auto;

  span + .icon,
  .icon + span {
    margin-left: $gutter / 2;
  }

  .icon {
    fill: $white;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $accentHover;
    border-color: $accentHover;
    color: $white;
  }

  &:active {
    background-color: $accent;
    border-color: $accent;
  }
}

.button--full {
  width: 100%;
}

.button--secondary {
  background-color: transparent;
  color: $accent;
  border: 1px solid $accent;

  &:hover,
  &:focus {
    background-color: rgba($accent, 0.05);
    color: $accentHover;
  }

  &:active {
    background-color: rgba($accent, 0.1);
  }
}

// Button group
.button-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -$gutter;
  margin-left: -$gutter;

  .button {
    margin-bottom: $gutter;
    margin-left: $gutter;
  }
}

.button-group--gutter-0 {
  margin-left: 0;
  margin-bottom: 0;

  .button {
    margin-bottom: 0;
    margin-left: 0;
  }
}

.button-group--right {
  justify-content: flex-end;
}

.button-group--center {
  justify-content: center;
}
