.cookie-notification {
  position: fixed;
  bottom: $gutter;
  left: $gutter;
  right: $gutter;
  z-index: layer("cookie");

  @media #{$medium} {
    width: 520px;
    right: inherit;
  }
}

.cookie-notification__content {
  background-color: $white;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.12);
  padding: $gutter;
  max-height: calc(100vh - #{$gutter * 2});
  overflow-y: auto;

  .button-group {
    a {
      color: gray(700);

      &:hover,
      &:focus {
        color: gray(800);
      }
    }
  }

  @media #{$medium} {
    flex-wrap: wrap;
  }
}

.cookie-notication__form {
  margin: $gutter 0 0;
}
