//
.hero {
  position: relative;
  margin-top: -10vh;

  .hero__image {
    filter: brightness(50%);
  }

  .hero__content {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .hero__title {
    color: $white;
    font-size: rem(45px);
    margin-bottom: 0.5em;
  }

  .hero__subtitle {
    color: rgb(255, 242, 128);
    text-transform: uppercase;
    font-size: rem(15px);
  }
}

.hero-var {
  position: relative;
  height: 100%;

  .hero-var__content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: $gutter;
    margin: auto;
    width: 70%;
    height: 90%;
    padding: 5% 10%;
    background-color: rgba(rgb(255, 255, 255), 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    div {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    p {
      font-weight: 500;
      line-height: 1.5em;
    }

    h4 {
      font-weight: 700;
      font-size: 1.2em;
    }

    button {
      width: 100%;
    }

    a {
      text-align: center;
    }
  }

  .hero__title {
    color: $white;
    font-size: 3.5em;
    margin-bottom: 0.5em;
  }

  .hero__subtitle {
    color: rgb(255, 242, 128);
    text-transform: uppercase;
    font-size: 1em;
  }
}
