.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000000;
  background-color: rgba(0, 0, 0, .3);
  visibility: hidden;
  opacity: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;

  &:not(.modal--active):not(.modal--before-show) {
    pointer-events: none;
  }

  &:not(.modal--fullscreen) {
    -webkit-overflow-scrolling: touch;
  }

  &[data-background-scroll="true"] {
    overflow-y: auto;
  }
}

.modal--active {
  visibility: visible;
  opacity: 1;
  z-index: 1000001;
}

.modal--fullscreen {
  background: $white;

  .modal__dialog {
    margin: 0;
    max-width: none;
    height: 100vh;
    display: flex;

    div[role="document"] {
      margin: auto;
      padding: $gutter*2 0;
    }
  }

  .modal__close {
    position: fixed;
    margin: 0;
    top: $gutter;
    right: $gutter;

    @media #{$maxMedium} {
      top: 38px; // align with menu toggle
    }
  }
}

.modal--before-show {
  visibility: visible;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

.modal--before-hide {
  pointer-events: none;
}

.modal--fade {
  &.modal--before-show {
    opacity: 1;
    transition: opacity .5s ease-out;
  }

  &.modal--before-hide {
    opacity: 0;
    transition: opacity .5s ease-out;
  }
}

.modal__va-wrap {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.modal__va-m {
  display: table-cell;
  vertical-align: middle;
}

.modal__dialog {
  background-color: $white;
  max-width: 100%;
  margin: $gutter/2;
  position: relative;
  outline: 0;

  @media #{$medium} {
    max-width: 900px;
    margin: $gutter * 2 auto;
  }

  div[role="document"] {
    padding: $gutter 0;
    width: 100%;

    @media #{$large} {
      padding: $gutter*2 0;
    }
  }
}

.modal__close {
  position: absolute;
  top: $gutter/3;
  right: $gutter/3;
  margin: $gutter/2;
  background: transparent;
  outline: none;
  transition: none;

  svg {
    transition: $transitionDefault;
    transition-property: fill;
  }

  &:hover {
    cursor: pointer;

    svg {
      fill: $accent;
    }
  }

  &:focus {
    svg {
      fill: $accentHover;
    }
  }

  &:active {
    svg {
      fill: $accentActive;
    }
  }
}

.js-modal-trigger * {
  pointer-events: none;
}
