.social-grid {
  margin-bottom: -$gutter;
}

.social-grid__item {
  margin-bottom: $gutter;
}

.social-icons {
  list-style: none;
  margin: 0;
  display: inline-flex;
  align-items: center;
}

.social-icons__item {
  & + .social-icons__item {
    margin-left: $gutter;
  }
}

.social-icons__link {
  display: block;
  text-decoration: none;

  svg {
    fill: #000;
  }

  &:hover,
  &:focus {
    svg {
      fill: #333;
    }
  }
}
