<!DOCTYPE html>
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="nl"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="nl"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="nl"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Gridfill | Demo</title>
  <meta name="description" content=" "/>
  <meta name="keywords" content=""/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">


  <!-- Made by Esign -->
  <!-- Esign is @ http://www.esign.eu/ -->
  <!-- Esign contact: info@esign.eu -->

  <meta name="robots" content="all,index,follow"/>

  <meta http-equiv="cleartype" content="on"/>
  <meta name="HandheldFriendly" content="True"/>
  <meta name="MobileOptimized" content="320"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link type="text/css" rel="stylesheet" href="../../../public/assets/css/style.css" media="all"/>
  <link type="text/css" rel="stylesheet" href="gridfill.css" media="all"/>
  <style>
    .original {
      font-style: italic;
      color: darkgray;
    }
  </style>


</head>

<body class="">

<div class="page-wrap">

  <div class="main">

    <div class="container">
      <h2>Tekst grid</h2>
      <div class="grid-fit">
        <div class="medium-one-half large-one-third
grid-item">
          <h2>Grid item</h2>
          <span class="original">Original: medium-one-half, large-one-third</span>
          <p>Sunt galluses experientia domesticus, fortis ollaes.
            Cum terror cadunt, omnes galataees pugna grandis, domesticus fideses.
            Superbus candidatus virtualiter attrahendams lura est.
          </p>


        </div>
        <div class="medium-one-half large-one-third
grid-item">
          <h2>Grid item</h2>
          <span class="original">Original: medium-one-half, large-one-third</span>
          <p>Sunt galluses experientia domesticus, fortis ollaes.
            Cum terror cadunt, omnes galataees pugna grandis, domesticus fideses.
            Superbus candidatus virtualiter attrahendams lura est.
          </p>


        </div>
        <div class="medium-one-full large-one-third
grid-item">
          <h2>Grid item</h2>
          <span class="original">Original: medium-one-full, large-one-third</span>
          <p>Sunt galluses experientia domesticus, fortis ollaes.
            Cum terror cadunt, omnes galataees pugna grandis, domesticus fideses.
            Superbus candidatus virtualiter attrahendams lura est.
          </p>


        </div>


        <div class="medium-one-third large-one-fifth
grid-item">
          <h2>Grid item</h2>
          <span class="original">Original: medium-one-third, large-one-fifth</span>
          <p>Sunt galluses experientia domesticus, fortis ollaes.
            Cum terror cadunt, omnes galataees pugna grandis, domesticus fideses.
            Superbus candidatus virtualiter attrahendams lura est.
          </p>


        </div>
        <div class="medium-one-third large-one-fifth
grid-item">
          <h2>Grid item</h2>
          <span class="original">Original: medium-one-third, large-one-fifth</span>
          <p>Sunt galluses experientia domesticus, fortis ollaes.
            Cum terror cadunt, omnes galataees pugna grandis, domesticus fideses.
            Superbus candidatus virtualiter attrahendams lura est.
          </p>


        </div>
        <div class="medium-one-third large-one-fifth
grid-item">
          <h2>Grid item 22</h2>
          <span class="original">Original: medium-one-third, large-one-fifth</span>
          <p>Sunt galluses experientia domesticus, fortis ollaes. hu
            Cum terror cadunt, omnes galataees pugna grandis, domesticus fideses.
            Superbus candidatus virtualiter attrahendams lura est.
          </p>


        </div>
        <div class="medium-one-third large-one-fifth
grid-item">
          <h2>Grid item</h2>
          <span class="original">Original: medium-one-third, large-one-fifth</span>
          <p>Sunt galluses experientia domesticus, fortis ollaes.
            Cum terror cadunt, omnes galataees pugna grandis, domesticus fideses.
            Superbus candidatus virtualiter attrahendams lura est.
          </p>


        </div>
        <div class="medium-one-half large-one-fifth
grid-item">
          <h2>Grid item</h2>
          <span class="original">Original: medium-one-half, large-one-fifth</span>
          <p>Sunt galluses experientia domesticus, fortis ollaes.
            Cum terror cadunt, omnes galataees pugna grandis, domesticus fideses.
            Superbus candidatus virtualiter attrahendams lura est.
          </p>


        </div>


        <div class="medium-one-half large-one-fifth
grid-item">
          <h2>Grid item</h2>
          <span class="original">Original: medium-one-half, large-one-fifth</span>
          <p>Sunt galluses experientia domesticus, fortis ollaes.
            Cum terror cadunt, omnes galataees pugna grandis, domesticus fideses.
            Superbus candidatus virtualiter attrahendams lura est.
          </p>


        </div>

        <div class="medium-one-third large-one-fifth
grid-item">
          <h2>Grid item </h2>
          <span class="original">Original: medium-one-third, large-one-fifth</span>
          <p>Sunt galluses experientia domesticus, fortis ollaes.
            Cum terror cadunt, omnes galataees pugna grandis, domesticus fideses.
            Superbus candidatus virtualiter attrahendams lura est.
          </p>


        </div>

        <div class="medium-one-third large-one-fifth
grid-item">
          <h2>Grid item </h2>
          <span class="original">Original: medium-one-third, large-one-fifth</span>
          <p>Sunt galluses experientia domesticus, fortis ollaes.
            Cum terror cadunt, omnes galataees pugna grandis, domesticus fideses.
            Superbus candidatus virtualiter attrahendams lura est.
          </p>


        </div>


      </div>


    </div>
    <div class="container">
      <h2>Foto grid</h2>
      <div class="grid-fit">
        <div class="medium-one-half large-one-third
grid-item">
          <img src="http://www.placebear.com/400/400"/>

        </div>
        <div class="medium-one-half large-one-third
grid-item">

          <img src="http://www.placebear.com/400/400"/>


        </div>
        <div class="medium-one-full large-one-third
grid-item">
          <img src="http://www.placebear.com/800/800"/>


        </div>


        <div class="medium-one-third large-one-fifth
grid-item">
          <img src="http://www.placebear.com/500/500"/>

        </div>
        <div class="medium-one-third large-one-fifth
grid-item">
          <img src="http://www.placebear.com/500/500"/>


        </div>
        <div class="medium-one-third large-one-fifth
grid-item">
          <img src="http://www.placebear.com/500/500"/>


        </div>
        <div class="medium-one-third large-one-fifth
grid-item">
          <img src="http://www.placebear.com/500/500"/>

        </div>
        <div class="medium-one-half large-one-fifth
grid-item">
          <img src="http://www.placebear.com/600/600"/>


        </div>


        <div class="medium-one-half large-one-fifth
grid-item">
          <img src="http://www.placebear.com/600/600"/>


        </div>

        <div class="medium-one-third large-one-fifth
grid-item">
          <img src="http://www.placebear.com/500/500"/>


        </div>

        <div class="medium-one-third large-one-fifth
grid-item">
          <img src="http://www.placebear.com/500/500"/>

        </div>
        <div class="medium-one-third large-one-fifth
grid-item">
          <img src="http://www.placebear.com/500/500"/>

        </div>
      </div>

    </div>
  </div>

</div>


<script src="../../../resources/assets/js/libs/jquery.min.js"></script>

<script>


  window.esign = window.esign || {};

  var mediaqueries = [

    {
      'name': 'medium',
      'min': 767,
      'max': 980
    },

    {
      'name': 'large',
      'min': 980
    }

  ];


  esign.init = function () {


    esign.fillGrid();

    $(window).on('resize', function () {

      esign.fillGrid();

    });

   // console.log(mediaqueries[0]);


  };


  esign.fillGrid = function () {
    //console.log('FILL GRID')


    var allItems = [];
    var rowItems = [];
    var currentOffsetTop;
    //old starten bij 0; eerste item zal offset top hebben die groter is dan dit dus
    //er zal in de loop een eerste row worden aangemaakt bij het vergelijken van de old & current offset top
    //items moeten dus wel zelfde hoogte hebben
    var oldOffsetTop = 0;
    //padding/gutter om de correcte width terug te krijgen bij berekenen
    var padding = 20;
    var amountItems = $('.grid-fit .grid-item').length;


    var rowIndex = 0;

    $('.grid-fit .grid-item').each(function (index, element) {

      currentOffsetTop = $(element).offset().top;
      if (currentOffsetTop != oldOffsetTop) {
        //nieuwe row

        oldOffsetTop = currentOffsetTop;
        if (rowItems.length > 0) {
          allItems[rowIndex] = rowItems;
          rowItems = [];
          rowIndex++;
        }
      }

      rowItems.push(element);

      //laatste item moet ook toegevoegd worden aan een nieuwe row
      //handmatig want laatste row en hierna geen check of de offset top verschilt
      if (index == amountItems - 1) {
        if (rowItems.length > 0) {
          allItems[rowIndex] = rowItems;
          rowItems = [];
          rowIndex++;
        }
      }

    });


    var row, totalWidth;

    for (var i = 0; i < allItems.length; i++) {
      //alle rows afgaan
      row = allItems[i];
      rowItems = [];
      totalWidth = 0;
      for (var j = 0; j < allItems[i].length; j++) {
        //alle items in een row afgaan
        var gridItem = allItems[i][j];
        //percentage width van element tov parent container
        var percentageWidth = 100 * ($(gridItem).width() + padding) / ($(gridItem).offsetParent().width());
        totalWidth = totalWidth + percentageWidth;

        //bij laatste item in de row berekenen of de row wel gevuld wordt

        if (j == allItems[i].length - 1) {
          // console.log(totalWidth);
          if (totalWidth != 100) {
            //aantal items op deze row bekijken en bijhouden welke verhouding ze moeten hebben om deze wel te laten passen

            amountItems = allItems[i].length;
            var newWidthPercentage = 100 / amountItems;
            esign.resizeByPercentage(allItems[i], newWidthPercentage);


          }
        }
      }
    }
  };


  esign.resizeByPercentage = function (items, percentage) {

    percentage = parseInt(percentage);
    var currentMediaquery;

      $(mediaqueries).each(function (i, element) {

        if ($(window).width() > element.min) {
          if(element.max == undefined || $(window).width() < element.max){
            //console.log('Current mediaquery: ' + element.name);
            currentMediaquery = element;
          }
        }

      });



    //console.log(percentage);
    $(items).each(function (index, element) {

      //aandehand van percentage juiste class geven

      $(element).removeClass();
     // $(element).addClass('grid-item');

      var classList = $(element).attr('class').split(/\s+/);
      $.each(classList, function(index, item) {
          console.log(item);
        if (item === 'someClass') {
          //do something
        }
      });






      switch (percentage) {

        case 20:
          classList = "medium-one-fifth large-one-fifth xlarge-one-fifth";

          break;
        case 25:
          classList = "medium-one-fourth large-one-fourth xlarge-one-fourth";

          break;
        case 40:
          classList = "medium-one-fifth large-two-fifth xlarge-two-fifth";

          break;
        case 50:
          classList = "medium-one-half large-one-half xlarge-one-half";

          break;
        case 33:
          classList = "medium-one-full large-one-third xlarge-one-third";

          break;
        case 100:
          classList = "medium-one-full large-one-full xlarge-one-full";

          break;
        default:
          classList = "medium-one-full large-one-full xlarge-one-full";

          break;
      }
      $(element).addClass(classList);

    });
  };

  // Initialize on docready
  $(esign.init);

</script>
</body>
</html>
