<div class="grid-fit">
<div class="medium-one-half large-one-third
grid-item">
<h2>Grid item</h2>
  <p>Sunt galluses experientia domesticus, fortis ollaes.
    Cum terror cadunt, omnes galataees pugna grandis, domesticus fideses.
    Superbus candidatus virtualiter attrahendams lura est.
  </p>


</div>
<div class="medium-one-half large-one-third
grid-item">
<h2>Grid item</h2>
  <p>Sunt galluses experientia domesticus, fortis ollaes.
    Cum terror cadunt, omnes galataees pugna grandis, domesticus fideses.
    Superbus candidatus virtualiter attrahendams lura est.
  </p>


</div>
<div class="medium-one-full large-one-third
grid-item">
<h2>Grid item</h2>
  <p>Sunt galluses experientia domesticus, fortis ollaes.
    Cum terror cadunt, omnes galataees pugna grandis, domesticus fideses.
    Superbus candidatus virtualiter attrahendams lura est.
  </p>


</div>


<div class="medium-one-third large-one-fifth
grid-item">
<h2>Grid item</h2>
  <p>Sunt galluses experientia domesticus, fortis ollaes.
    Cum terror cadunt, omnes galataees pugna grandis, domesticus fideses.
    Superbus candidatus virtualiter attrahendams lura est.
  </p>


</div>
<div class="medium-one-third large-one-fifth
grid-item">
<h2>Grid item</h2>
  <p>Sunt galluses experientia domesticus, fortis ollaes.
    Cum terror cadunt, omnes galataees pugna grandis, domesticus fideses.
    Superbus candidatus virtualiter attrahendams lura est.
  </p>


</div>
<div class="medium-one-third large-one-fifth
grid-item">
<h2>Grid item</h2>
  <p>Sunt galluses experientia domesticus, fortis ollaes.
    Cum terror cadunt, omnes galataees pugna grandis, domesticus fideses.
    Superbus candidatus virtualiter attrahendams lura est.
  </p>


</div>
<div class="medium-one-half large-one-fifth
grid-item">
<h2>Grid item</h2>
  <p>Sunt galluses experientia domesticus, fortis ollaes.
    Cum terror cadunt, omnes galataees pugna grandis, domesticus fideses.
    Superbus candidatus virtualiter attrahendams lura est.
  </p>


</div>
<div class="medium-one-half large-one-fifth
grid-item">
<h2>Grid item</h2>
  <p>Sunt galluses experientia domesticus, fortis ollaes.
    Cum terror cadunt, omnes galataees pugna grandis, domesticus fideses.
    Superbus candidatus virtualiter attrahendams lura est.
  </p>


</div>
<div class="medium-one-third large-one-fifth
grid-item">
<h2>Grid item not fitting</h2>
  <p>Sunt galluses experientia domesticus, fortis ollaes.
    Cum terror cadunt, omnes galataees pugna grandis, domesticus fideses.
    Superbus candidatus virtualiter attrahendams lura est.
  </p>


</div>
<div class="medium-one-third large-one-fifth
grid-item">
<h2>Grid item not fitting</h2>
  <p>Sunt galluses experientia domesticus, fortis ollaes.
    Cum terror cadunt, omnes galataees pugna grandis, domesticus fideses.
    Superbus candidatus virtualiter attrahendams lura est.
  </p>


</div>


</div>
