/**
 * OVERVIEW
 *
 * IMPORTS
 * reset, vars, mixins, core, plugins
 *
 * LAYOUT
 * Helpers
 * Header / Main / Footer
 * Components
 * Pages (page overrides)
 *
 * Hooks (IE, ...)
 * Print
 */

/**
 * GUIDELINES
 * CLASSES
 * Naming: BEM - http://getbem.com/
 * Abbreviations: Emmet - http://docs.emmet.io/cheat-sheet/ | example: .va-m
 *
 * MEDIAQUERIES
 * @media $small, $medium, $maxMedium, $large, $larger, $huge, $massive
 */

/* =============================================================================
   IMPORTS
   ========================================================================== */

// CSS Reset
@import "inc/reset";

// Core
@import "inc/vars";
@import "inc/mixins";
// @import "inc/animations";

// Styled patterns and elements
@import "inc/grid";
@import "inc/type";
@import "inc/tables";
@import "inc/forms";
@import "inc/matrix";

// Plugins


/* =============================================================================
   LAYOUT
   ========================================================================== */

html {
  font-size: 62.5%;
}

body {
  @include default-font; color: $black;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.page-wrap {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  position: relative;
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;

  @media #{$large} {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.container--small {
  max-width: 1000px;
}

// Typekit async loading (all elements using $ typekit font)
.wf-loading {
  overflow: hidden;
  body { visibility: hidden; }
}

::selection {
  background-color: $selection;
  color: inherit;
}


/* =============================================================================
   HELPERS
   ========================================================================== */

// Icons
.icon {
  display: inline-block; vertical-align: middle;
}

.icon-facebook {
  width: 9px;
  height: 18px;
}

.icon-twitter {
  width: 20px;
  height: 16px;
}

.icon-instagram {
  width: 20px;
  height: 20px;
}

.icon-hamburger, .icon-hamburger:before, .icon-hamburger:after {
  width: 24px; position: absolute; left: 0;
  height: 1px; border-top: 3px solid $accent;
  transition: $transitionDefault;
}

.icon-hamburger {
  position: relative;
  &:before, &:after { content: ""; margin-left: 0; }
  &:before { margin-top: 3px; }
  &:after { margin-top: 9px; }
}

// Exceptions: only add what you need!
// .mb0.mb0 { margin-bottom: 0; }
// .mb20.mb20 { margin-bottom: 20px; }
// .mb40.mb40 { margin-bottom: 40px; }

// .mt0.mt0 { margin-top: 0; }
// .mt20.mt20 { margin-top: 20px; }
// .mt40.mt40 { margin-top: 40px; }

// .ttu { text-transform: uppercase; }
// .ttl { text-transform: lowercase; }

// Google maps mw
.gm-style img {
  max-width: inherit;
}

// Responsive video
.video-container {
  position: relative;
  padding: 0 0 56.25%;
  height: 0;
  overflow: hidden;
  margin: 0 0 15px;

  iframe {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
  }
}

// Equal height
.equal-h {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;

  > * {
    display: flex;
  }

  &:before, &:after {
    display: none;
  }
}

// Block link
.block-link {
	position: relative;
  cursor: pointer;
}

.block-link__target {
	&:before {
		content: ""; display: block;
		position: absolute; top: 0; right: 0; bottom: 0; left: 0;
	}
}


/* =============================================================================
   HEADER
   ========================================================================== */

.page-header {
  @include clearfix;
  padding: 20px 0;
}

.page-header__logo {
  text-decoration: none;
  @include opacity(100);
  float: left;

  img {
    display: block;
  }

  &:hover, &:focus {
    @include opacity(80);
  }
}

.main-nav {
  text-transform: uppercase; @include optimize-font; color: $black;
  margin-top: 20px;

  a {
    text-decoration: none; color: $grayDark; padding: 12px 15px;
    display: block; border-top: 1px solid $grayLight;
  }

  a:hover, a:focus, li.active a {
    color: $black;
  }

  @media #{$medium} {
    margin: 35px 0 0 40px;
    float: left;

    li {
      float: left;
      margin: 0 0 0 20px;
    }

    a {
      border-top: 0;
      padding: 0;
    }
  }

  @media #{$large} {
    li {
      margin-left: 45px;
    }
  }
}

.main-nav__trigger {
  display: block;
  position: absolute; top: 15px; right: 20px;
  padding: 12px 20px 12px 55px;
  background-color: transparent;
  color: $black; font-weight: 500;
  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
  border: 1px solid #efefef;

  .icon-hamburger {
    position: absolute; left: 10px; top: 18px;
  }

  &:hover, &:focus {
    background-color: transparent;
    box-shadow: none;
  }

  &:active {
    transform: none;
  }

  @media #{$medium} {
    display: none;
  }
}

.main-nav__wrap {
  display: none; margin: 0 0 15px;

  @media #{$medium} {
    margin: 0 0 0 -20px; display: block;
  }
}

.skip-link {
  left: -999px;
  position: absolute;
  top: auto;
  overflow: hidden;
  z-index: -999;
  white-space: nowrap;

  &:focus {
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;
    padding: 0.5em 1em;
    @include fs(20);
  }
}

// Cookie notification
.cookie-notification {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: $gutter;
  padding: 0 $gutter;
  z-index: 99999;
  display: inline-block;

  .button {
    border: 1px solid $white;
  }
}

.cookie-notification__content {
  background-color: $white;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.12);
  width: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  @include fs(13);

  p {
    margin-bottom: 0;
  }

  a {
    color: inherit;
  }

  .button {
    border-radius: 20px;
    padding: 12px 20px;
  }

  @media #{$medium} {
    border-radius: 40px;
    flex-wrap: wrap;
    font-size: 16px;
    padding: 10px $gutter;

    .button {
      border-radius: 40px;
      padding: 12px 40px;
    }
  }
}

.cookie-notification__actions {
  @media #{$maxMedium} {
    text-align: center;
    margin-left: 10px;

    .button {
      margin-bottom: $gutter/2;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}



/* =============================================================================
   MAIN
   ========================================================================== */

.main {
  padding: 20px 0;
  flex-grow: 1;

  @media #{$medium} {
    padding: 50px 0;
  }
}


/* =============================================================================
   FOOTER
   ========================================================================== */

.page-footer {
  position: relative;
  padding: $gutter 0;
}

a.esign {
  width: 80px; height: 20px;
  background-image: url('../images/logo-esign.svg');
  background-size: 77px 20px; background-repeat: no-repeat;
  background-position: top left;
  backface-visibility: hidden;
  transform: translate3d(0,0,0);
  text-indent: -9999px;
  opacity: 0.6; transition-duration: 0.5s;
  display: block; outline: 0; z-index: 9999;

  &:hover, &:focus {
    opacity: 1;
  }

  @media #{$medium} {
    width: 16px;
    position: absolute; right: 45px; bottom: $gutter;

    &:hover, &:focus {
      width: 80px;
    }
  }
}


/* =============================================================================
   COMPONENTS
   ========================================================================== */

// Rte
.large {
  @include fs(20);
}

.center-block {
  @include clearfix;
  text-align: center;
  margin: 20px 0;

  .button {
    float: none; display: inline-block;
  }
}


// Article
section { position: relative; }

.article-detail {
  @include clearfix; margin: 0 0 20px;

  a {
    img { display: block; @include opacity(100); }

    &:hover, &:focus {
      img { @include opacity(80); }
    }
  }
}

.article-detail__image {
  margin-bottom: 1.5em;
}


// Note
.note {
  @include clearfix;
  margin: 0 0 20px; padding: 15px 20px 0;
  background: #efefef;

  ul, p {
    margin-bottom: 1em;
  }
}

.note--success {
  color: $success;
  background-color: $successBg;
}

.note--error {
  color: $error;
  background-color: $errorBg;
}


// Map
.map {
  width: 100%;
  height: 350px;
  background: #efefef;
  margin: 0 0 40px;

  @media #{$medium} {
    height: 550px;
  }
}

// Social grid - e.g. instagram
.social-grid {
  margin-bottom: -$gutter;
}

.social-grid__item {
  margin-bottom: $gutter;
}

// Social icons
.social-icons {
  @include clearfix;
  list-style: none;
  margin: 0 0 1em -15px;
}

.social-icons__item {
  padding: 0 0 5px 15px;
  float: left;
}

.social-icons__link {
  display: block;
  text-decoration: none;

  svg {
    fill: #000;
  }

  &:hover, &:focus {
    svg {
      fill: #333;
    }
  }
}


/* =============================================================================
   PAGES
   ========================================================================== */

.marker {
  background-image: url('../../assets/images/marker.png');
  height: 128px; width: 100px;
}


/* =============================================================================
   PRINT
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  @page { margin: 2cm 0.5cm 1cm; }

  html {
    font-size: 10px;
  }

  * {
    background-color: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .medium--one-half { width: 50%; }
  .medium--two-thirds { width: 66.66%; }
  .medium--one-third { width: 33.33%; }
  .medium--three-quarters { width: 75%; }
  .medium--one-quarter { width: 25%; }

  .page-footer, .main-nav {
    display: none;
  }
}
