<a href="#modal1" class="modaal-trigger">Show center modal</a>
<div id="modal1" class="vh">
  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
</div>

<a href="#modal2" class="modaal-fullscreen-trigger">Show fullscreen modal</a>
<div id="modal2" class="vh">
  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
</div>

<!-- Add class 'modaal' to use data-attributes. This overwrites js settings including configuration events (used for hashing). -->
<a href="#modal3" class="modaal-data-trigger modaal" data-modaal-accessible-title="Custom a11y title" data-modaal-fullscreen="true">Show data attribute modal</a>
<div id="modal3" class="vh">
  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
</div>
