/* =============================================================================
   IMPORTS
   ========================================================================== */
/*
 * Esign reset.less
 * Adapted version of:
 * - Eric Meyer reset
 * - Boilerplate Normalize.css
 * - Normalize opentype
 */
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
body {
  margin: 0;
  padding: 0;
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
  -moz-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
time,
section {
  display: block;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('../js/polyfills/boxsizing.htc');
}
/* HTML5 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
/* TYPE */
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
  -moz-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
}
a:focus {
  outline: thin dotted;
}
ol,
ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
/**
 * Turn on proper supercript numerals
 */
sup {
  top: -0.5em;
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
  -moz-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
}
/**
 * Turn on proper subscript numerals
 */
sub {
  bottom: -0.25em;
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
  -moz-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
}
figure {
  margin: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
/**
 * Turn on small caps for upper and lowercase letters
 */
abbr {
  text-transform: uppercase;
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
  -moz-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
}
time {
  display: block;
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0;
  -moz-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0;
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0;
}
/* FORMS */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="numer"],
input[type="range"],
input[type="tel"],
input[type="week"] {
  -webkit-font-feature-settings: "kern" 0, "liga" 1, "pnum" 0, "tnum" 0, "onum" 0, "lnum" 1, "zero" 1;
  -moz-font-feature-settings: "kern" 0, "liga" 1, "pnum" 0, "tnum" 0, "onum" 0, "lnum" 1, "zero" 1;
  font-feature-settings: "kern" 0, "liga" 1, "pnum" 0, "tnum" 0, "onum" 0, "lnum" 1, "zero" 1;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/* TABLE */
table {
  border-collapse: collapse;
  border-spacing: 0;
  -webkit-font-feature-settings: "kern" 0, "liga" 1, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
  -moz-font-feature-settings: "kern" 0, "liga" 1, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
  font-feature-settings: "kern" 0, "liga" 1, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
}
table thead,
table tfoot {
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
  -moz-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
}
/* Preboot.less
 * Variables and mixins to pre-ignite any new web development project
 * ------------------------------------------------------------------ */
.a-c {
  text-align: center;
}
.a-l {
  text-align: left;
}
.a-r {
  text-align: right;
}
.left {
  float: left;
}
.right {
  float: right;
}
.tt {
  text-transform: uppercase;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
/* Image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden;
}
/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.vh {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.vh.focusable:active,
.vh.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}
/* Typography.less
 * Headings, body text, lists, code, and more for a versatile and durable typography system
 * ---------------------------------------------------------------------------------------- */
/* BODY */
p {
  line-height: inherit;
  margin-bottom: 1.5em;
}
p.large {
  font-size: 16px;
  font-size: 1.6rem;
}
strong {
  font-weight: 500;
  font-size: inherit;
}
em {
  font-style: italic;
  font-weight: inherit;
}
a {
  color: #444444;
  text-decoration: underline;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-tap-highlight-color: #999;
  tap-highlight-color: #999;
  font-weight: inherit;
  font-style: inherit;
}
a:hover,
a:focus {
  color: #777777;
}
a[href^=tel] {
  text-decoration: none;
}
a[href^=tel]:hover,
a[href^=tel]:focus {
  text-decoration: underline;
}
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}
/* HEADINGS */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: #ff8000;
  line-height: 1.2em;
}
h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a,
h6 a,
.h6 a {
  text-decoration: none;
  outline: none;
  font-weight: inherit;
}
h1,
.h1 {
  font-size: 24px;
  font-size: 2.4rem;
  margin-bottom: 20px;
  margin-bottom: 2rem;
}
/* LISTS */
ul,
ol {
  margin: 0 0 1.5em 16px;
}
ul li,
ol li {
  line-height: 1.5em;
  padding: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ul ul {
  list-style: circle;
}
ul.social {
  margin: 0;
  padding: 0;
  list-style: none;
  zoom: 1;
}
ul.social ul {
  list-style: none;
}
ul.social li {
  list-style: none;
  list-style-image: none;
  padding: 0;
  background: none;
}
ul.social:before,
ul.social:after {
  display: table;
  content: "";
}
ul.social:after {
  clear: both;
}
ul.social li {
  float: left;
}
ul.social {
  margin: 20px 0 20px -5px;
}
ul.social li {
  margin: 0 0 5px 5px;
}
ul.social a {
  height: 40px;
  width: 40px;
  line-height: 40px;
  display: block;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  background: #ff8000;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
}
ul.social .twitter {
  background: #2DAAE1;
}
ul.social .twitter:hover,
ul.social .twitter:focus {
  background: #1d94c9;
}
ul.social .facebook {
  background: #3C5B9B;
}
ul.social .facebook:hover,
ul.social .facebook:focus {
  background: #314a7e;
}
ul.social .pinterest {
  background: #CB2027;
}
ul.social .pinterest:hover,
ul.social .pinterest:focus {
  background: #a81a20;
}
ul.social .linkedin {
  background: #0173B2;
}
ul.social .linkedin:hover,
ul.social .linkedin:focus {
  background: #015989;
}
ul.lined {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.lined ul {
  list-style: none;
}
ul.lined li {
  list-style: none;
  list-style-image: none;
  padding: 0;
  background: none;
}
ul.lined li {
  border-bottom: 1px solid #E3E3E3;
  padding: 5px 0;
}
ul.lined li:first-child {
  padding-top: 0;
}
ul.lined li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
ol {
  list-style: decimal;
}
.unstyled,
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.unstyled ul,
nav ul ul {
  list-style: none;
}
.unstyled li,
nav ul li {
  list-style: none;
  list-style-image: none;
  padding: 0;
  background: none;
}
nav ul {
  zoom: 1;
}
nav ul:before,
nav ul:after {
  display: table;
  content: "";
}
nav ul:after {
  clear: both;
}
dl {
  margin: 0 0 40px;
}
/* MISC */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ff8000;
  margin: 70px 0 40px;
}
blockquote {
  line-height: inherit;
}
/*
 * Tables.less
 * Tables for, you guessed it, tabular data
 * ---------------------------------------- */
table {
  width: 100%;
  padding: 0;
  border-collapse: separate;
  border-spacing: 0;
  empty-cells: show;
}
table th,
table td {
  padding: 9px;
  text-align: left;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
  line-height: 1.3em;
}
/* Forms.less
 * Base styles for various input types, form layouts, and states
 * ------------------------------------------------------------- */
form {
  margin: 0;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
  color: #fff;
  font-size: 18px;
}
button,
input,
select,
textarea,
.button {
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
label,
.label,
input,
select,
textarea {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5em;
  font-weight: 400;
  vertical-align: middle;
  color: #444444;
}
label,
.label {
  display: block;
  margin-bottom: 8px;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
  border: none;
}
input[type=checkbox],
input[type=radio] {
  cursor: pointer;
}
input[type=text],
input[type=search],
input[type=password],
input[type=email],
input[type=tel],
textarea,
select {
  padding: 6px;
  margin-bottom: 2px;
  background: #fff;
  height: 35px;
  line-height: inherit;
  width: 100%;
  border: 1px solid #b4b4b4;
}
input[type=text]:focus,
input[type=search]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #444444;
}
input[type="email"] {
  display: block;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
  width: 100%;
  height: 185px;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  *height: 13px;
  *width: 13px;
  line-height: normal;
  border: none;
}
input[type=file] {
  background-color: #fff;
  padding: initial;
  border: initial;
  line-height: initial;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
select {
  width: 260px;
  height: 30px;
}
button,
input[type="reset"],
input[type="submit"],
.button,
a.button {
  float: left;
  display: block;
  clear: both;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  outline: none;
  height: 40px;
  height: 4rem;
  font-size: 17px;
  font-size: 1.7rem;
  padding: 0 18px;
  margin: 15px 0 0;
  background: #ff8000;
  border: 2px solid #E9F4F6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
button i,
input[type="reset"] i,
input[type="submit"] i,
.button i,
a.button i {
  margin: -5px 6px 0 5px;
}
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button:hover,
a.button:hover,
button:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
.button:focus,
a.button:focus,
button:active,
input[type="reset"]:active,
input[type="submit"]:active,
.button:active,
a.button:active {
  background: #b35a00;
}
button:active,
input[type="reset"]:active,
input[type="submit"]:active,
.button:active,
a.button:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
.button::-moz-focus-inner,
a.button::-moz-focus-inner {
  border: 0;
}
button,
input[type="text"],
input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="email"],
textarea {
  -webkit-appearance: none;
}
button:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
.button:focus,
a.button:focus,
select:focus {
  outline: none;
  *outline: inherit;
  -webkit-box-shadow: 0 0 1px 1px rgba(200, 200, 200, 0.1);
  -moz-box-shadow: 0 0 1px 1px rgba(200, 200, 200, 0.1);
  box-shadow: 0 0 1px 1px rgba(200, 200, 200, 0.1);
}
::-webkit-input-placeholder {
  color: #999;
  font-style: italic;
}
::-moz-placeholder {
  color: #999;
  font-style: italic;
}
:-ms-input-placeholder {
  color: #999;
  font-style: italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999;
  font-style: italic;
}
/*::-ms-reveal { display: none; } /* Hide reveal password ie 10+ */
::-ms-clear {
  display: none;
}
/* Hide clear text field ie 10+ */
input[type=search] {
  -webkit-appearance: none;
}
/* Remove the rounded corners */
::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
/* Hide the cancel button */
::-webkit-search-results-button {
  -webkit-appearance: none;
}
/* Hide the magnifying glass */
::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* Hide number input spinner */
::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
/* Style file upload button */
/* forms */
form .row {
  margin-bottom: 0;
}
fieldset {
  width: auto;
}
fieldset p,
fieldset ul,
fieldset li {
  zoom: 1;
}
fieldset p:before,
fieldset ul:before,
fieldset li:before,
fieldset p:after,
fieldset ul:after,
fieldset li:after {
  display: table;
  content: "";
}
fieldset p:after,
fieldset ul:after,
fieldset li:after {
  clear: both;
}
fieldset ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
fieldset ul ul {
  list-style: none;
}
fieldset ul li {
  list-style: none;
  list-style-image: none;
  padding: 0;
  background: none;
}
fieldset li {
  margin: 0 0 10px;
}
fieldset li.error input {
  border-color: #f1062c;
}
.a-c .button,
.a-c a.button {
  float: none;
  clear: none;
  display: inline-block;
}
/* Validation engine */
.formError {
  z-index: 990;
}
.formError .formErrorContent {
  z-index: 991;
}
.formError .formErrorArrow {
  z-index: 996;
}
.formErrorInsideDialog.formError {
  z-index: 5000;
}
.formErrorInsideDialog.formError .formErrorContent {
  z-index: 5001;
}
.formErrorInsideDialog.formError .formErrorArrow {
  z-index: 5006;
}
.inputContainer {
  position: relative;
  float: left;
}
.formError,
.formError * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.formError {
  position: absolute;
  top: 300px;
  left: 300px;
  display: block;
  cursor: pointer;
  margin: 0 0 0 -128px;
}
.ajaxSubmit {
  padding: 20px;
  background: #55ea55;
  border: 1px solid #999;
  display: none;
}
.formError .formErrorContent {
  background: #ff8000;
  position: relative;
  color: #fff;
  width: 150px;
  border: 1px solid #ff8000;
  padding: 4px 10px 4px 10px;
  font-size: 14px;
  font-size: 1.4rem;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.formError .formErrorArrow {
  width: 15px;
  margin: -2px 0 0 13px;
  position: relative;
}
.formError .formErrorArrowBottom {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0px 0 0 12px;
  top: 2px;
}
.formError .formErrorArrow div {
  font-size: 0px;
  height: 1px;
  background: #ff8000;
  margin: 0 auto;
  line-height: 0;
  font-size: 0;
  display: block;
  border-left: 1px solid #ff8000;
  border-right: 1px solid #ff8000;
  -webkit-box-shadow: 0 0 1px 1px rgba(180, 180, 190, 0.3);
  -moz-box-shadow: 0 0 1px 1px rgba(180, 180, 190, 0.3);
  box-shadow: 0 0 1px 1px rgba(180, 180, 190, 0.3);
}
.formError .formErrorArrowBottom div {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.formError .formErrorArrow .line10 {
  width: 15px;
  border: none;
}
.formError .formErrorArrow .line9 {
  width: 13px;
  border: none;
}
.formError .formErrorArrow .line8 {
  width: 11px;
}
.formError .formErrorArrow .line7 {
  width: 9px;
}
.formError .formErrorArrow .line6 {
  width: 7px;
}
.formError .formErrorArrow .line5 {
  width: 5px;
}
.formError .formErrorArrow .line4 {
  width: 3px;
}
.formError .formErrorArrow .line3 {
  width: 1px;
  border-left: 2px solid #ff8000;
  border-right: 2px solid #ff8000;
  border-bottom: 0 solid #ddd;
}
.formError .formErrorArrow .line2 {
  width: 3px;
  border: none;
  background: #ff8000;
}
.formError .formErrorArrow .line1 {
  width: 1px;
  border: none;
  background: #ff8000;
}
/*! fancyBox v2.1.4 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}
.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.fancybox-opened {
  z-index: 8030;
}
.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.fancybox-outer,
.fancybox-inner {
  position: relative;
}
.fancybox-inner {
  overflow: hidden;
}
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}
.fancybox-image,
.fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}
#fancybox-loading,
.fancybox-close,
.fancybox-prev span,
.fancybox-next span {
  background-image: url('../images/fancybox/fancybox_sprite.png');
}
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url('../images/fancybox/fancybox_loading.gif') center center no-repeat;
}
.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url('../images/fancybox/blank.gif');
  /* helps IE */

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 8040;
}
.fancybox-prev {
  left: 0;
}
.fancybox-next {
  right: 0;
}
.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}
.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}
.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}
.fancybox-nav:hover span {
  visibility: visible;
}
.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}
/* Overlay helper */
.fancybox-lock {
  overflow: hidden;
}
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url('../images/fancybox/fancybox_overlay.png');
}
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}
.fancybox-lock .fancybox-overlay {
  /*overflow: auto;
	overflow-y: auto;*/

}
/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}
.fancybox-opened .fancybox-title {
  visibility: visible;
}
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */

  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}
.fancybox-title-inside-wrap {
  padding-top: 10px;
}
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}
/* =============================================================================
   LAYOUT
   ========================================================================== */
html {
  font-size: 62.5%;
}
body {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5em;
  font-weight: 400;
  color: #444444;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}
#page-wrap {
  position: relative;
  z-index: 2;
}
::-moz-selection {
  background-color: rgba(179, 90, 0, 0.7);
  color: #ffffff;
}
::selection {
  background-color: rgba(179, 90, 0, 0.7);
  color: #ffffff;
}
/* =============================================================================
   GRID
   ========================================================================== */
.container {
  margin: 0 10px;
  position: relative;
  z-index: 5;
  zoom: 1;
}
.container:before,
.container:after {
  display: table;
  content: "";
}
.container:after {
  clear: both;
}
.row {
  zoom: 1;
  margin: 0 0 20px;
}
.row:before,
.row:after {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}
.one-half,
.two-third,
.one-third,
.three-fourth,
.one-fourth {
  float: left;
  display: block;
  width: 100%;
}
/* =============================================================================
   ELEMENTS
   ========================================================================== */
/* ICONS */
.icon {
  background-image: url('../images/template-sprite.png');
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .icon {
    background-image: url('../images/template-sprite@2x.png');
    background-size: 300px 50px;
  }
}
.icon-hamburger,
.icon-hamburger:before,
.icon-hamburger:after {
  width: 24px;
  position: absolute;
  height: 1px;
  border-top: 3px solid #ff8000;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.icon-hamburger {
  position: relative;
}
.icon-hamburger:before,
.icon-hamburger:after {
  content: "";
  margin-left: 0;
}
.icon-hamburger:before {
  margin-top: 3px;
}
.icon-hamburger:after {
  margin-top: 9px;
}
/* ARTICLES */
section {
  position: relative;
}
article {
  zoom: 1;
  margin: 0 0 20px;
}
article:before,
article:after {
  display: table;
  content: "";
}
article:after {
  clear: both;
}
article a img {
  display: block;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
article a:hover img,
article a:focus img {
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* SLIDESHOW */
.cycle-slideshow {
  width: 100%;
  position: relative;
}
.cycle-pager {
  width: 100%;
  text-align: center;
}
.cycle-pager span {
  border: 2px solid #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  height: 20px;
  width: 20px;
  display: inline-block;
  cursor: pointer;
  margin: 0 3px;
  line-height: 14px;
  font-size: 36px;
  color: #fff;
  overflow: hidden;
  text-indent: -500px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.cycle-pager span:hover,
.cycle-pager span:focus {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.cycle-pager span:hover,
.cycle-pager span:focus,
.cycle-pager .cycle-pager-active {
  text-indent: 0;
}
/* CONTENT */
.large {
  font-size: 16px;
  font-size: 1.6rem;
}
.center-block {
  text-align: center;
  zoom: 1;
  margin: 20px 0;
}
.center-block:before,
.center-block:after {
  display: table;
  content: "";
}
.center-block:after {
  clear: both;
}
.center-block .button {
  float: none;
  display: inline-block;
}
.box {
  margin: 0 0 20px;
  padding: 15px 15px 5px;
  zoom: 1;
  background: #E7E4DB;
}
.box:before,
.box:after {
  display: table;
  content: "";
}
.box:after {
  clear: both;
}
.box ul,
.box p {
  margin-bottom: 1em;
}
.box.error {
  background: #f1062c;
  color: #fff;
}
.box.success {
  background: #ff8000;
}
/* OTHER */
/* google maps mw */
.gm-style img {
  max-width: inherit;
}
/* responsive video */
iframe {
  max-width: 100%;
  height: auto;
}
.video-container {
  position: relative;
  padding: 0 0 56.25%;
  height: 0;
  overflow: hidden;
  margin: 0 0 15px;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* =============================================================================
   HEADER
   ========================================================================== */
#logo {
  text-decoration: none;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
#logo img {
  display: block;
}
#logo:hover,
#logo:focus {
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.main-nav {
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: #444444;
}
.main-nav a {
  text-decoration: none;
  color: #777777;
  padding: 9px 0;
  display: block;
}
.main-nav a:hover,
.main-nav a:focus,
.main-nav li.active a {
  color: #444444;
}
.main-nav .trigger {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 9px 0 9px 45px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main-nav .trigger .icon-hamburger {
  position: absolute;
  left: 0;
  top: 12px;
}
.main-nav .nav-wrap {
  display: none;
  margin: 0 0 15px 45px;
}
/* =============================================================================
   MAIN
   ========================================================================== */
#main {
  padding: 40px 0;
}
/* =============================================================================
   FOOTER
   ========================================================================== */
#page-footer .row {
  margin-bottom: 0;
}
a.esign {
  width: 104px;
  height: 20px;
  background-image: url('../images/logo-esign.png');
  text-indent: -9999px;
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  display: block;
  outline: none;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  a.esign {
    background-image: url('../images/logo-esign@2x.png');
    background-size: 104px 20px;
  }
}
a.esign:hover {
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* =============================================================================
   PAGES
   ========================================================================== */
/* =============================================================================
   MEDIAQUERIES
   ========================================================================== */
/* TABLET */
@media screen and (min-width: 767px) {
  html,
  body {
    height: 100%;
  }
  #page-wrap {
    height: auto;
    min-height: 100%;
  }
  /* GRID */
  .container {
    margin: 0 20px;
  }
  .row {
    margin: 0 0 40px -20px;
  }
  .one-half,
  .two-third,
  .one-third,
  .three-fourth,
  .one-fourth {
    padding-left: 20px;
  }
  .one-half {
    width: 50%;
  }
  .two-third {
    width: 66.66%;
  }
  .one-third {
    width: 33.33%;
  }
  .three-fourth {
    width: 75%;
  }
  .one-fourth {
    width: 25%;
  }
  /* TYPE */
  h1,
  .h1 {
    font-size: 35px;
    font-size: 3.5rem;
  }
  /* ELEMENTS */
  /* HEADER */
  .main-nav .trigger {
    display: none;
  }
  .main-nav .nav-wrap {
    margin: 0 0 0 -20px;
    display: block;
  }
  .main-nav li {
    float: left;
    margin: 0 0 0 20px;
  }
  /* MAIN */
  #main {
    padding: 50px 0 150px;
  }
  /* FOOTER */
  #page-footer {
    height: 60px;
    margin: -60px 0 0;
  }
  a.esign {
    float: right;
  }
  /* PAGES */
  /* IE */
  html.lt-ie8 {
    /* box model ie7 clear fix */
  
  }
  html.lt-ie8 .row {
    float: left;
    width: 100%;
    clear: both;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  
}
/* TABLET LANDSCAPE */
@media screen and (min-width: 980px) {
  /* GRID */
  .container {
    width: 980px;
    margin: 0 auto;
  }
}
/* DESKTOP */
@media screen and (min-width: 1024px) {
  /* TYPE */
}
/* DESKTOP WIDE */
@media screen and (min-width: 1355px) {
  
}
/* =============================================================================
   HOOKS
   ========================================================================== */
/* =============================================================================
   PRINT
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  .ir {
    text-indent: 0;
    overflow: visible;
    direction: inherit;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 2cm 0.5cm 1cm;
  }
}
