// Grid System
.container {
	margin: 0 10px; position: relative; z-index: 5; .clearfix;
}

.row { .clearfix; margin: 0 0 20px; }

.one_half, .two_third, .one_third, .three_fourth, .one_fourth { 
	float: left; display: block; width: 100%;
}



