
<!-- Vanaf grootte x deze afbeelding inladen (+retina afbeelding) -->

<picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source srcset="../resources/assets/images/test-images/xlarge.jpg 1x, ../resources/assets/images/test-images/xlarge@2x.jpg 2x" media="(min-width: 1000px)">
    <source srcset="../resources/assets/images/test-images/medium.jpg 1x, ../resources/ass ets/images/test-images/xlarge.jpg 2x" media="(min-width: 800px)">
    <source srcset="../resources/assets/images/test-images/small.jpg 1x, ../resources/assets/images/test-images/medium.jpg 2x">
    <!--[if IE 9]></video><![endif]-->
    <img  alt="Test image" />
</picture>

<!-- Geef w(idth) in van de verschillende formaten images & geef mee welke ruimte ze innemen op de website (vw) -->
<picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 36em)"
            srcset="../resources/assets/images/test-images/xlarge.jpg  1024w,
         ../resources/assets/images/test-images/medium.jpg 640w,
         ../resources/assets/images/test-images/small.jpg 320w"
            sizes="50vw" />

    <source srcset="../resources/assets/images/test-images/xlarge@2x.jpg 2x,
         ../resources/assets/images/test-images/xlarge.jpg 1x" />
    <!--[if IE 9]></video><![endif]-->
    <img alt="A test" />
</picture>




<script src="../resources/assets/js/polyfills/picturefill.min.js"></script>


