
<div class="gallery">
  <ul id="lightgallery" class="list-unstyled row">
    <li data-src="assets/images/slide.jpg" data-sub-html="<h4>Lorem ipsum</h4><p>Lorem ipsum dolor sit amet</p>">
      <a href="">
        <img class="img-responsive" src="assets/images/slide1.jpg" alt="">
      </a>
    </li>
    <li data-src="assets/images/slide.png" data-sub-html="<h4>Lorem ipsum</h4><p>Lorem ipsum dolor sit amet</p>">
      <a href="">
        <img class="img-responsive" src="assets/images/slide2.jpg" alt="">
      </a>
    </li>
    <li data-src="assets/images/slide.jpg" data-sub-html="<h4>Lorem ipsum</h4><p>Lorem ipsum dolor sit amet</p>">
      <a href="">
        <img class="img-responsive" src="assets/images/slide3.jpg" alt="">
      </a>
    </li>
    <li data-src="assets/images/slide.jpg" data-sub-html="<h4>Lorem ipsum</h4><p>Lorem ipsum dolor sit amet</p>">
      <a href="">
        <img class="img-responsive" src="assets/images/slide4.jpg" alt="">
      </a>
    </li>
  </ul>
</div>
