<div class="js-tabs">
  <ul class="js-tablist" data-existing-hx="h2">
    <li class="js-tablist__item">
      <a href="#id_first" id="label_id_first" class="js-tablist__link">1st tab</a>
    </li>
    <li class="js-tablist__item">
      <a href="#id_second" id="label_id_second" class="js-tablist__link">2nd tab</a>
    </li>
  </ul>
  <div id="id_first" class="js-tabcontent">
    <h2>title</h2>
    Here the content of 1st tab
  </div>
  <div id="id_second" class="js-tabcontent">
    <h2>other title</h2>
    Here the content of 2nd tab
  </div>
</div>